
APP_PROTOCOL=http
APP_HOST=ams-app
APP_PORT=3000

API_PROTOCOL=http
API_HOST=ams-api
API_PORT=8000

MONGODB_URL=mongodb://ams-mongo:27017

REPR_APP_URL=http://localhost:6001
REPR_API_URL=http://localhost:6002
REPR_MONGODB_URL=mongodb://localhost:27018

PYTHONPATH=api

JWT_SECRET_KEY=++++++
JWT_REFRESH_SECRET_KEY=++++++